{% extends "base.html" %}

{% block content %}


{% for menu in roots %}
<!--  <div class="welcome-single-slide">-->
    <div class="list" id="sub">
      <h3>{{menu.name}}</h3>
      <ul>
        {% if menu.name == selected_name %}
        <li ><strong><a href="{% url 'select' url=menu.url selected=menu.name %}">{{ menu.name }}</a></strong></li>
        {% else %}
      <li><a href="{% url 'select' url=menu.url selected=menu.name %}">{{ menu.name }}</a></li>
        {% endif %}
        {% with before_selected=True%}
      {% if menu.children %}
        <ul>
        {% for child in menu.children.all %}
          <li><a href="{% url 'select' url=child.url selected=child.name %}">{{ child.name }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
        {% endwith %}
      </ul>
  </div>
  {% endfor %}
{% endblock %}


